.HeaderBox {
  position: sticky !important;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: #444;
  padding: 0.5rem 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.HeaderRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
}

.NavbarLogo {
  flex-shrink: 0;
}

#Logo {
  height: 50px;
  border-radius: 50%;
}

.NavBox {
  display: flex;
  gap: 20px;
  align-items: center;
}

.Nav-item {
  text-decoration: none;
  padding: 10px;
  color: white;
  font-size: 1rem;
  font-weight: 500;
}

.Nav-item:hover {
  color: red;
  font-weight: bold;
}

.Navitem {
  color: white;
}

.HiddenOnSmall {
  display: none;
}

.Navbar .navbar-toggler {
  position: absolute;
  right: 20px;  
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
}

@media (min-width: 900px) {
  .HeaderRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .NavbarLogo {
    flex-shrink: 0;
    margin-right: 20px;
  }

  .NavBox {
    flex-grow: 1;
    justify-content: flex-start;
  }

  .Navitem {
    margin-left: 20px;
  }

  .HiddenOnLarge {
    display: none !important;
  }

  .HiddenOnSmall {
    display: inline-block;
  }
}

@media (max-width: 899px) and (min-width: 700px) {
  .HeaderRow {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }

  .NavbarLogo img {
    height: 45px;
  }

  .Navbar .navbar-toggler {
    position: absolute;
    right: 20px;  
    top: 50%;
    transform: translateY(-50%);
  }
}

@media (max-width: 700px) {
  .HeaderRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .NavbarLogo {
    margin: 0 10px;
  }

  .NavBox {
    flex-direction: column;
    align-items: center;
  }

  .Nav-item {
    font-size: 1.2rem;
    text-align: center;
  }

  .HiddenOnLarge {
    display: inline-block;
  }

  .HiddenOnSmall {
    display: none;
  }
}
