 
.HeaderBox {
  position: fixed !important;
  top: 0;
  width: 100%;
 
  z-index: 999;
  background-color: #444;
  padding: 0.5rem 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#Logo {
  height: 50px;
  border-radius: 50%;
}

.NavBox {
  display: flex;
  gap: 20px;
  align-items: center;
}

.Nav-item {
  text-decoration: none;
  padding: 10px;
  color: white;
  font-size: 1rem;
  font-weight: 500;
}

.Nav-item:hover {
  color: red;
  font-weight: bold;
}

.Navitem {
  color: white;
}

 


.HiddenOnSmall {
  display: none ;
}

 
@media (min-width: 769px) {
  .HeaderRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .NavbarLogo {
    flex-shrink: 0;
    margin-right: 20px;
  }

  .NavBox {
    flex-grow: 1;
    justify-content: flex-start;
  }

  .Navitem {
    margin-left: 20px;
  }

 
  .HiddenOnLarge {
    display: none !important;
  }

  
  .HiddenOnSmall {
    display: inline-block;
  }
}

@media (max-width: 768px) {
  .HeaderRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .NavbarLogo {
    margin:0,10px ;
  }

  .NavBox {
    flex-direction: column;
    align-items: center;
  }

  .Nav-item {
    font-size: 1.2rem;
    text-align: center;
  }

 
  .HiddenOnLarge {
    display: inline-block;  
  }

  .HiddenOnSmall {
    display: none; 
  }
}
