.signup-container {
  display: flex;
  justify-content: center; 
  align-items: center;  
  max-width: 600px;
  margin: auto;
  margin-top: 100px;
  padding: 30px;
  border-radius: 10px;
  background: linear-gradient(135deg, #f3f4f6, #e5e7eb);  
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  min-height: 80vh;  
  height: auto; 
  flex-direction: column;  
}

.signup-container:hover {
  transform: scale(1.02);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}

h2 {
  text-align: center;
  color: #2d3748;
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #2d3748;
  font-size: 14px;
}

.form-group input {
  padding: 12px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: 16px;
  transition: border-color 0.3s ease-in-out;
  outline: none;
}

.form-group input:focus {
  border-color: #4fd1c5;  
}

.submit-button {
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: #4fd1c5;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Arial', sans-serif;
  text-transform: uppercase;
}

.submit-button:hover {
  background-color: #38b2ac;
}

.error-message {
  color: #e53e3e;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.already-account {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

.already-account a {
  color: #4fd1c5;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.already-account a:hover {
  color: #38b2ac;
}

@media (max-width: 768px) {
  .signup-container {
    max-width: 80%;  
    padding: 20px;
    margin-top: 150px;
   min-height: 50vh;
  }

  h2 {
    font-size: 22px;
  }

  .form-group input {
    font-size: 14px;  
  }

  .submit-button {
    font-size: 14px;  
  }
}

@media (max-width: 480px) {
  .signup-container {
    padding: 15px;
    margin-top: 100px;
  }

  h2 {
    font-size: 20px;
  }

  .form-group input {
    font-size: 14px;
    padding: 10px;  
  }

  .submit-button {
    font-size: 14px;
    padding: 10px;
  }
}

@media (min-width: 1024px) {
  .signup-container {
    height: 500px; 
  }
}
 